################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/ClassesAndObjects/.vs/ClassesAndObjects
/ClassesAndObjects/bin/Debug/net7.0
/ClassesAndObjects/obj
/Interfaces/.vs/Interfaces
/Interfaces/bin/Debug/net7.0
/Interfaces/obj
/ClassesAndObjects/.vs/ProjectEvaluation
/AbstractClasses/bin/Debug/net7.0
/AbstractClasses/obj
/AbstractClasses/.vs/AbstractClasses
/Interfaces/.vs/ProjectEvaluation
/AbstractClasses/.vs/ProjectEvaluation
/UpcastAndDowncast/.vs/UpcastAndDowncast/FileContentIndex
/UpcastAndDowncast/bin/Debug/net7.0
/UpcastAndDowncast/obj
/UpcastAndDowncast/.vs/UpcastAndDowncast/v17
/ComparingObjects/.vs/ComparingObjects
/ComparingObjects/bin/Debug/net7.0
/ComparingObjects/obj
/UpcastAndDowncast/.vs/ProjectEvaluation
*.v2
/ComparingObjects/.vs/ProjectEvaluation
/Delegates/.vs/Delegates
/Delegates/bin/Debug/net7.0
/Delegates/obj
