################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/ClassesAndObjects/.vs/ClassesAndObjects
/ClassesAndObjects/bin/Debug/net7.0
/ClassesAndObjects/obj
/Interfaces/.vs/Interfaces
/Interfaces/bin/Debug/net7.0
/Interfaces/obj
/ClassesAndObjects/.vs/ProjectEvaluation
/AbstractClasses/bin/Debug/net7.0
/AbstractClasses/obj
/AbstractClasses/.vs/AbstractClasses
/Interfaces/.vs/ProjectEvaluation
/AbstractClasses/.vs/ProjectEvaluation
/UpcastAndDowncast/.vs/UpcastAndDowncast/FileContentIndex
/UpcastAndDowncast/bin/Debug/net7.0
/UpcastAndDowncast/obj
/UpcastAndDowncast/.vs/UpcastAndDowncast/v17
/ComparingObjects/.vs/ComparingObjects
/ComparingObjects/bin/Debug/net7.0
/ComparingObjects/obj
/UpcastAndDowncast/.vs/ProjectEvaluation
*.v2
/ComparingObjects/.vs/ProjectEvaluation
/Delegates/.vs/Delegates
/Delegates/bin/Debug/net7.0
/Delegates/obj
/Delegates/.vs/ProjectEvaluation
/Events/.vs/Events/FileContentIndex
/Events/bin/Debug/net7.0
/Events/obj
/Events/.vs/Events/v17/.suo
/Events/.vs/ProjectEvaluation
/Generics/.vs/Generics/FileContentIndex
/Generics/bin/Debug/net7.0
/Generics/obj
/Generics/.vs/Generics/v17/.suo
/Generics/.vs/ProjectEvaluation
/Lists/.vs/Lists/FileContentIndex
/Lists/bin/Debug/net7.0
/Lists/obj/Debug/net7.0
/Lists/obj
/Lists/.vs/Lists/v17
/DotCourse/bin/Debug/net7.0
/DotCourse/obj
/Lists/.vs/ProjectEvaluation
/DotCourse/.vs/DotCourse/FileContentIndex
/DotCourse/.vs/DotCourse/v17
/DotCourse/.vs
